.snackbar {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2500;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.snackbar-container {
  height: 70px;
  padding: 0 30px;
  border-radius: 0 0 24px 24px;
  background-color: #ffe6cc;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.35);
  border-bottom: 6px solid #ffd9b3;
  border-left: 6px solid #ffd9b3;
  border-right: 6px solid #ffd9b3;
  box-sizing: border-box;
  overflow: hidden;
  animation: snackbar linear forwards;
}

.snackbar-container-propsContainer {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackbar-container-propsContainer-text {
  font-size: 24px;
  font-weight: 600;
  font-family: Fjalla One;
}

@keyframes snackbar {
  0% {
    transform: translateY(-80px);
  }
  9% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-10px);
  }
  88% {
    transform: translateY(-10px);
  }
  91% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-80px);
  }
}
