@media (min-width:320px)  {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

.confirmation {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.confirmation-header {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 6px solid #ff8000;
  background-color: #ffd9b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-header-text {
  font-size: 1.5em;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.confirmation--mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.confirmation-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.confirmation-content-graphic {
  height: 50%;
  width: 100%;
  margin-top: 10%;
  padding: 0 20px;
  box-sizing: border-box;
}

.confirmation-content-info {
  flex: 1;
  overflow: scroll;
  padding: 20px 0;
  box-sizing: border-box;
  /* background-color: red; */
}

.confirmation-content-info-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
  /* background-color: yellow; */
}

.confirmation-content-info-message-text {
  font-size: 1.2em;
}

.confirmation-content-info-message-text.done {
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

.confirmation-content-info-options {
  /* background-color: green; */
}

.confirmation-content-info-options-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.confirmation-content-info-options-container-text,
.confirmation-content-info-options-container-checkBox {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-content-info-options-container-text {
  font-size: 1.2em;
}

.confirmation-content-info-options-container-checkBox-container {
  height: 100%;
  width: 40px;
}

.confirmation-content-info-options-container-extraFields {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.confirmation-content-info-options-container-extraFields.false {
  display: none;
}

.confirmation-content-info-options-container-extraFields.true {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn .3s ease-out forwards;
  /* background-color: red; */
}

.confirmation-content-info-options-container-extraFields-field-text {
  flex: 1;
  white-space: nowrap;
  overflow: scroll;
}

.confirmation-content-info-options-container-extraFields-field {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5px;
}

.confirmation-content-info-options-container-extraFields-field-text-checkbox {
  height: 100%;
  width: 30px;
}

.confirmation-content-info-options-container-extraFields-comments {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin-bottom: 10px;
  /* background-color: red; */
}

.confirmation-content-info-options-container-extraFields-comments-header {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.confirmation-actions {
  height: 150px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  /* background-color: green; */
}

.confirmation-actions-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
