.attendanceList {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.attendanceList--mainWrapper {
  flex: 1;
  overflow: auto;
}

.attendanceList-contact:nth-child(even) {
  background-color: rgba(255, 204, 102, .1);
}

.attendanceList-contact {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendanceList-contact-name,
.attendanceList-contact-status {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.attendanceList-contact-name {
  flex: 2;
}

.attendanceList-contact-status {
  flex: 3;
  font-weight: 600;
}

.attendanceList-stats {
  height: 100px;
  display: flex;
  border-top: 5px solid #ffd9b3;
  background-color: rgba(255, 230, 204, .2);
}

.attendanceList-stats-confirm,
.attendanceList-stats-declined,
.attendanceList-stats-null {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.attendanceList-stats-header,
.attendanceList-stats-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  flex: 1;
}

.attendanceList-stats-value {
  font-weight: 700;
}
