.attendanceList {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
}

.attendanceList--mainWrapper {
  height: 100%;
  overflow: auto;
}

.attendanceList-contact:nth-child(even) {
  background-color: rgba(255, 204, 102, .1);
}

.attendanceList-contact {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendanceList-contact-name,
.attendanceList-contact-status {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.attendanceList-contact-messageStatus {
  width: 50px;
  height: 100%;
  padding: .8em;
  box-sizing: border-box;
  border-right: 5px solid #ffd9b3;
}

.attendanceList-contact-messageStatus-icon.read,
.attendanceList-contact-messageStatus-icon.delivered,
.attendanceList-contact-messageStatus-icon.failed {
  height: 100%;
  width: 100%;
}

.attendanceList-contact-messageStatus-icon.read {
	background: url('/img/icon_read@3x.png') no-repeat center center/ contain;
}

.attendanceList-contact-messageStatus-icon.delivered {
	background: url('/img/icon_delivered@3x.png') no-repeat center center/ contain;
}

.attendanceList-contact-messageStatus-icon.failed {
	background: url('/img/icon_error@3x.png') no-repeat center center/ contain;
}

.attendanceList-contact-name {
  flex: 2;
}

.attendanceList-contact-status {
  flex: 3;
  font-weight: 600;
}

.attendanceList-contact-action {
  width: 50px;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.attendanceList-contact-action-icon {
  height: 100%;
  width: 100%;
	background: url('/img/icon_send_link@3x.png') no-repeat center center/ contain;
}

.attendanceList-stats {
  height: 75px;
  display: flex;
  border-top: 5px solid #ff8533;
  box-sizing: border-box;
  background-color: rgba(255, 230, 204, .2);
}

.attendanceList-stats-confirm,
.attendanceList-stats-declined,
.attendanceList-stats-null {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.attendanceList-stats-header,
.attendanceList-stats-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  flex: 1;
}

.attendanceList-stats-value {
  font-weight: 700;
}
