.moreEventOptions {
  width: 350px;
  max-height: 90vh;
  background-color: #fff2e6;
  padding: 0 40px;
  box-sizing: border-box;
  overflow: scroll;
}

.moreEventOptions-header {
  flex: 1;
  align-self: flex-start;
  font-size: 1.5em;
  font-weight: 600;
  font-family: Fjalla One;
  margin: 20px 0;
}

.moreEventOptions-fields {
  width: 100%;
  margin-bottom: 10px;
}

.moreEventOptions-fields-main {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.moreEventOptions-fields-main-text {
  font-size: 1.2em;
}

.moreEventOptions-fields-main-deleteField {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background: url('/img/icon_delete@3x.png') no-repeat center center/ contain;
}

.moreEventOptions-fields-subfields {
  margin-left: 20px;
  white-space: nowrap;
  overflow: scroll;
}

.moreEventOptions-divider {
  width: 100%;
  height: 5px;
  margin: 10px 0;
  background-color: rgb(255, 136, 77);
}

.moreEventOptions-inputSelector {
  height: 30px;
  width: 200px;
  display: flex;
  border-radius: 30px;
  border: 3px solid rgb(255, 136, 77);
  box-sizing: border-box;
  background-color: rgba(255, 136, 77,.2);
  overflow: hidden;
}

.moreEventOptions-inputSelector-selector,
.moreEventOptions-inputSelector-comments {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid rgb(255, 136, 77);
  box-sizing: border-box;
  font-size: .9em;
}

.moreEventOptions-inputSelector-selector.selector,
.moreEventOptions-inputSelector-comments.comments {
  background-color: rgb(255, 136, 77);
}

.moreEventOptions-inputSelector-comments {
  border-right: none;
}

.moreEventOptions-textInput {
  width: 100%;
  margin-top: 10px;
}

.moreEventOptions-textInput-mainField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.moreEventOptions-textInput-mainField-addButton {
  height: 35px;
  width: 35px;
  background: url('/img/icon_add@3x.png') no-repeat center center/ contain;
}

.moreEventOptions-textInput-subfield {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.moreEventOptions-textInput-addSubField {
  height: 30px;
  width: 30px;
  background: url('/img/icon_sub_add@3x.png') no-repeat center center/ contain;
}

.moreEventOptions-textInput-subfield-deleteButton {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  background: url('/img/icon_delete@3x.png') no-repeat center center/ contain;
}

.moreEventOptions-textInput-comments {
  margin-top: 10px;
}

.moreEventOptions-textInput-comments-text {
  font-weight: 600;
  margin-left: 2px;
  margin-bottom: 5px;
}

.moreEventOptions-actions {
  display: flex;
  width: 100%;
  padding: 0 25px;
  margin: 30px 0;
  box-sizing: border-box;
}

.moreEventOptions-warning {
  font-weight: 600;
  color: #ff4d4d;
  margin-top: 20px;
}
