.overallAttendeesAttendance {
  width: 100%;
  margin-bottom: 50px;
  height: 300px;
  overflow: scroll;
}

.overallAttendeesAttendance-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
